body {
  margin: 0;
  padding: 0;
}

/*

.owl-item {
  height: 416px;
  width: 343px !important;
}

.hip_ig_post_item {
	height: 100%;
}
*/
.hip_ig_post_item {
  height: 416px;
  width: 343px !important;
}

.hip_ig_post_item img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.hip_instagram_feed_arrow {
  background: url(../images/arrow-left-black.png) no-repeat center/ 21px 21px;
  border-radius: 100px;
  width: 63px;
  height: 63px;
  display: block;
  border: 2px solid #25283d;
  transition: all 0.4s ease-in-out;
  margin: 27px 5px 0;
}

.hip_instagram_feed_arrow:hover {
  background-color: #00befa;
  border-color: #00befa;
}
.hip_instagram_feed_arrow.left-arrow:hover {
  background-image: url(../images/arrow-left-white.png);
}
.hip_instagram_feed_arrow.right-arrow {
  background-image: url(../images/arrow-right-black.png);
}
.hip_instagram_feed_arrow.right-arrow:hover {
  background-image: url(../images/arrow-right-white.png);
}
.hip_instagram_feed_container {
  position: relative;
}
.hip_instagram_feed_container .owl-nav {
  margin-left: calc(16% - 49px);
}
.hip_instagram_feed_container .owl-nav button:focus {
  outline: 0;
}
.hip_instagram_feed_container .owl-nav button.owl-prev:hover,
.hip_instagram_feed_container .owl-nav button.owl-next:hover {
  background: unset !important;
  outline: 0;
  border: 0;
}
/* Image Frame */
.hip_instagram_feed_frame {
  position: absolute;
  right: 24.9%;
  width: 677px;
  z-index: 9;
  top: -168px;
  pointer-events: none;
  transform: translateX(50%);
  height: 785px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 568px;
}

@media (max-width: 1446px) {
  .hip_instagram_feed_frame {
    right: 24.4%;
    height: 750px;
    top: -189px;
    -o-object-fit: contain;
    object-fit: contain;
    transform: translateX(50%) scaleX(1) scaleY(1.035);
  }

  .hip_instagram_feed_container .owl-nav {
    margin-left: calc(16% - 101px);
  }
}
@media (min-width: 1447px) {
  .hip_ig_post_item {
    width: auto !important;
  }
  .hip_instagram_feed_frame {
    right: 24.6%;
    width: 685px;
    top: -295px;
    transform: translateX(50%) scaleY(0.95);
    height: 987px;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media (max-width: 1366px) {
  .hip_instagram_feed_frame {
    right: 24.4%;
    height: 595px;
    top: -145px;
    transform: translateX(50%) scaleX(1.2) scaleY(1.2);
    width: 428px;
  }
  .hip_ig_post_item {
    height: 350px;
    width: auto !important;
  }

  .hip_instagram_feed_container .owl-nav {
    margin-left: calc(16% - 107px);
  }
}
@media (max-width: 1200px) {
  .hip_ig_post_item {
    height: 300px;
  }

  .hip_instagram_feed_frame {
    right: 24.4%;
    height: 595px;
    top: -167px;
    transform: translateX(50%) scaleX(1) scaleY(1);
    width: 428px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .hip_ig_post_item {
    height: 416px;
	width: 100% !important;
  }

  .owl-item.active.center {
    width: 343px !important;
  }

  .hip_instagram_feed_frame {
    right: 0;
    margin: 0 auto;
    top: -206px;
    transform: scaleY(1.08);
    /* transform: none; */
    width: 525px;
    height: 785px;
  }

  .hip_instagram_feed_container .owl-nav {
    margin-left: 0;
    margin-top: 152px;
  }
  
  
  .owl-item {
		width: 343px !important;
	}
 

}

@media (max-width: 1024px) {
  .hip_instagram_feed_frame {
    left: 22px;
  }
}

@media (max-width: 768px) {
	.hip_instagram_feed_frame {
        left: -30px;
        width: 522px;
        top: -210px;
}
}
